<%= title "Login" %>
<div class="span6">
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" }) do |f| %>
		<fieldset class="well well-large">
			<!-- Username  -->
			<div class="control-group">
				<div class="control-label">
					Login
				</div>
				<div class="controls">
					<%= f.email_field :email, :autofocus => true %>
				</div>
			</div>
			<!-- Password -->
			<div class="control-group">
				<div class="control-label">
					Password
				</div>
				<div class="controls">
					<%= f.password_field :password %>
					<%#= render "devise/shared/links" %>
				</div>
			</div>
			<!-- Sign-In Button -->
			<div class="form-actions center" style="padding-left:0px;">
				<%= f.submit("Sign In", :class => "btn btn-primary") %>
			</div>
		</fieldset>
	<% end %>
</div>