<!DOCTYPE html>
<html>
	<head>
		<title>Dashboard</title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body style="padding-top:50px;">
		<div class="container">
			<div class="row">
				<div class="page-header">
					<h1><%= content_for?(:title) ? yield(:title) : params[:action].humanize() %></h1>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<%= flashes_helper %>
				</div>
			</div>
			<div class="row">
				<%= yield %>
			</div>
		</div>
	</body>
</html>